*{
    margin: 0;
    padding: 0;
    background-color:rgb(30, 29, 29);
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.head{
    background-color: black;
}

.logo{
    height: 38px;
    padding: 30px;
    text-align: left;
    background-color: black;
}
.container{
    background-color: black;
    border:2px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 300px;
    margin-top: 26px;
    min-height: 80vw;
}
.Text1{
    
    color: white;
    font-size: 36px;
    font-family: 'Raleway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h3{
    background-color: black;
    text-align: center;
    
}

/* .google{
    display: flex;
    background-color: black;
    border:1px solid white;
    border-radius: 40px;
    height: 30px;
}
.logo{
    height:0px;

} */

.Continue{
    background-color: black;
    padding: 30px;
    display: block;
    justify-content: center;
    margin: 2px auto;
    padding: 10px;

}
.firstbutton{
    border-radius: 40px;
    display: flex;
    height: 50px;
    width:350px;
    background-color: black;
    align-items: center;
    border:1px solid rgb(100, 96, 96);
    padding: 10px;
    margin: 10px;
    justify-content: center;
    font-family: 'Roboto',Verdana, Geneva, Tahoma, sans-serif;

}

.googlelogo{
    height: 23px;
    background-color: black;
    padding-inline: 10px;
    
}

.googletext{
    font-size: larger;
    color:white;
    background-color: black;
    margin-left: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
    

}
.new{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pic{
    height: 23px;
    background-color: black;
    padding-inline: 10px;
    text-align: center  ;
}
.pic2{
    height: 23px;
    background-color: black;
    padding-inline: 10px;
    text-align: center  ;
    border-radius: 30px;
}
.secondbutton{
    border-radius: 40px;
    display: flex;
    height: 60px;
    width:350px;
    background-color: black;
    align-items: center;
    border:1px solid rgb(64, 60, 60);
    padding: 10px;
    margin: 10px;
    border:1px solid rgb(100, 96, 96);
    justify-content: center;
    font-family: 'Roboto',Verdana, Geneva, Tahoma, sans-serif;
}
.thirdbutton{
    border-radius: 40px;
    display: flex;
    height: 60px;
    width:350px;
    background-color: black;
    align-items: center;
    border:1px solid rgb(64, 60, 60);
    padding: 10px;
    margin: 10px;
    border:1px solid rgb(100, 96, 96);
    justify-content: center;
    font-family: 'Roboto',Verdana, Geneva, Tahoma, sans-serif;



}
.phone{
    border-radius: 40px;
    display: flex;
    height: 60px;
    width:350px;
    background-color: black;
    align-items: center;
    border:1px solid rgb(64, 60, 60);
    padding: 10px;
    margin: 10px;
    margin-top: 5px;
    border:1px solid rgb(100, 96, 96);
    text-align: center;
    justify-content: center;
    font-family: 'Roboto',Verdana, Geneva, Tahoma, sans-serif;

}
.line{
    margin:10px 12px;
    border:1px solid rgb(57, 55, 55);
}

.input{
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 12px auto;
}
.email{
    background-color: black;
    font-size: large;
    padding: 20px;
    border-radius: 5px;
    border:1px solid rgb(57, 55, 55);
    width: 300px;
}
.input1{
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 12px auto;
    margin-left: 0%;
}
